:root {
  --main: #955dd5;
  --bg: #141420;
  --desc: #717171;
}

html,
body {
  font: 16px;
  background: var(--bg);
}

/* movie-info */

.container {
  width: 100vw;
  height: 550px;
  position: relative;
}

.container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  display: inline-block;
  opacity: 0.5;
  background-color: #000;
}

.container .back {
  padding-top: 30px;
  padding-left: 10%;
  position: absolute;
  width: 90%;
  height: 15px;
  margin-bottom: 0;
}

.container .back a {
  text-decoration-line: none;
  color: #fff;
  cursor: pointer;
}

.container .movie-wrap {
  display: flex;
  flex-direction: row;
  height: 550px;
  justify-content: center;
  align-items: center;
}

.container .movie-wrap .movie-img {
  position: relative;
  width: 250px;
  object-fit: contain;
  border-radius: 20px;
  margin: 50px 100px 10px;
  opacity: 0.7;
}

.container .movie-wrap .movie-info {
  position: relative;
  width: 50%;
  height: 280px;
  max-height: 280px;
  color: #fff;
  padding-top: 150px;
}

.container .movie-wrap .movie-info h1 {
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 20px;
}

.container .movie-wrap .movie-info-list {
  display: flex;
  width: 300px;
  align-items: center;
}

.container .movie-wrap .movie-info-list * {
  border-right: 1px solid #fff;
  justify-content: center;
  padding: 0 10px;
}

.container .movie-wrap .movie-info .movie-info-list :first-child {
  padding-left: 0;
}

.container .movie-wrap .movie-info .movie-info-list :last-child {
  border-right: transparent;
}

.container .movie-wrap .movie-info .review {
  width: 200px;
  height: 40px;
  margin: 20px 0 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #955dd5;
  color: #fff;
  cursor: pointer;
}

.container .movie-wrap .movie-info .review:hover {
  color: #955dd5;
  background-color: #fff;
  transition: 0.5s;
}

.container .movie-wrap .movie-info p {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 130%;
}
