select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

#sort-options {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 50px;
}

#sort-select {
  color: white;
  background-color: #47375a;
  border: none;
  padding: 10px;
  font-size: 13px;
  border-radius: 5px;
  display: flex;
  line-height: normal;
  cursor: pointer;
}